<section class="hero">
  <div class="row">
    <div class="large-4 columns about-box">
      <div class="black-box">
        <h3 color="white"><font color="#FF9C5B">Sign Up. <small><font color="#FAD089">It's Free</font color="white"></small></font></h3>
        <%= form_for @user do |f| %>
          <%= f.text_field :full_name, placeholder: "Full Name" %>
          <%= f.email_field :email, placeholder: "Email address" %>
          <%= f.password_field :password, placeholder: "Password"%>
          <%= f.submit "Sign me up!", class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row title">
    <div class="small-12 column">
      <h6>This is a practice project.</h6>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 column">
      <p>My little album allow users to upload photos. The photos will remain private unless set otherwise. The photos will be categorized by date.</p>
      <p>New parents who wishes to save each and every memory with their kid need not worry about running out of space on their phone, overwhelming their Facebook/Instagram pages with baby photos, having photos on multiple devices and most importantly losing the photos and the memories/stories behind them.</p>
      <p>Checkout <a href="https://www.gotealeaf.com/"> Tealeaf Academy</a> to learn how to build robust and production quality applications using Ruby on Rails.</p>

      <a href="https://github.com/vajradog/mylittlealbum" class="button">Source Code: Ideas/Contributions are welcome</a>
    </div>
  </div>
</section>



        

        

    </main>

   
</body>     
