<section class="photos-page"> 
  <div class="row">
    <div class="large-8 columns">
      <div class="row title">
      <h6>May 2015</h6>
    </div>
      <ul class="clearing-thumbs small-block-grid-3" data-clearing>
        <% @photos.each do |photo| %>
          <li><span data-tooltip aria-haspopup="true" class="has-tip" title="Uploaded on <%= fix_date(photo.created_at) %>"><img src="<%= photo.photo_url%>"></span></li>
        <% end%>
      </ul>
    </div>

    <div class="large-4 columns">
      <%= form_for @photo do |f| %>
        <h4>Upload New Photos</h4>
        <%= f.label :photo_url %>
        <%= f.text_field :photo_url, placeholder: "Required field: Paste photo url here"%>
    
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Optional field" %>

        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "Optional field" %>
        
        <%= f.submit "Submit", class: 'button' %>
      <% end %>
    </div>
  </div>
</section>
       

